<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/news.css">
    <link rel="stylesheet" type="text/css" href="/css/news-res.css">
</head>

    <body>
        <div class="advertisement-full-size-content">
            <div class="advertisement-full-size" id= <%= news[0]._id %>>
                <div class="advertisement-full-size-border1">
                        <h1><%= news[0].title %></h1>
                        <p>
                            <% let slova = "" %>
                            <% news[0].text = decodeURIComponent(news[0].text.replace(/%0A/g, "<br>")); %>
                            <% for (let i = 0; i < news[0].text.length; i++) { %>
                                <% if (news[0].text.substring(i, i + 4) === '<br>') { %>
                                    <br>
                                    <% i += 3; %>
                                    <%= slova %>
                                    <% slova = '' %>
                                <% } else { %>
                                    <% slova += news[0].text[i] %>
                                <% } %>
                            <% } %>
                            <br>
                            <%= slova %>
                        </p>
                        <% if(news[0].type == "konkurs"){ %>
                            <div class="compete-btn">
                                <a href= <%= href %>>
                                    Конкуриши

                                </a>
                            </div>

                        <% } %>
                    </div>
            </div>

        </div>

    </body>

</html>