<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/news.css">
</head>

    <body>
        <div class="advertisement" id=<%= id %>>
          <a href=<%= href %> class="advertisement-a">
            <div class="advertisement-border1">
              <div class="advertisement-img">
                <img src=<%= src %> alt="Opis slike">
              </div>
              <div class="advertisement-text">
                <h2>
                  <%= title %>
                </h2>
                <h5>
                  <%= subTitle %>
                </h5>
                <p>
                  <%= description %>
                </p>
              </div>
            </div>

          </a>
          </div>

    </body>

</html>